         /* --- alap stílusok ---*/

* {
  box-sizing: border-box;
}


/*        Megjegyzések- alapstílusok
1. Figyeld meg, hogy itt is rem egységeket használtunk a tipográfia méreteihez. Így, ha a felhasználó megváltoztatja az alapértelmezett betûméretet, az oldalunk szépen fog skálázódni.

2. A section elemeket középre igazítottuk és mindegyik kapott egy 95%-os szélességet. Ez megakadályozza, hogy a tartalom bárhol "hozzáérjen" a képernyõ széléhez.

3. A háttérkép merített papír benyomását kelti, ami jól illik egy esküvõi weblap hangulatához. A szép, kurzív betûk ugyanezt a papír hatást erõsítik.*/
h1,h2,h3,
ul,ol,
p,
img {
    margin-bottom: 1.5rem;
}

body {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #444349;
}

.locations,
.program,
.gifts,
.faq,
.contact {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

h1, 
h2 {
  font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}

          /*--- fejléc ---*/


/*          Megjegyzések- fejléc

1. A background tulajdonságban van egy új rész: 70% center/cover. Ezt a rövidítést (shorthand) akkor használjuk, amikor egyszerre szeretnénk megadni a háttér méretét és pozícióját. Az elsõ része (70% center) adja meg a kép pozícióját. Jelen esetben ez kissé balra mozgatja a fotót az X tengelyen, hogy a menyasszony feje ne lógjon ki a képernyõrõl. Ha szeretnéd látni a hatását, töröld ki átmenetileg, és nézd meg az oldalt.

2. A display: table; megoldás ismerõs kell hogy legyen a gyakori komponenseket bemutató projektünkbõl.

3. Az aláhúzáshoz és dekoratív vonalakhoz pszeudoelemeket (pseudo-elements) használtunk, hogy a HTML-ben tényleg csak a tartalomhoz, struktúrához tartozó információ legyen.*/
.cover {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat 70% center/cover;
  display: table;
  text-align: center;
  height: 100vh;
  width: 100%;
}

@media (min-width: 768px) {

  .cover {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center/cover;
  }

}

.hero-text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.hero-text {
  margin: 0 auto;
  padding: .625rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
}

.hero-text h1 {
  font-size: 3.15rem;
  color: #d2ba87;
  margin-bottom: 0; 
}

@media (min-width: 768px) {

  .hero-text {
    padding: 1.25rem;
    border-radius: 4px;
    width: 50%;
  }

  .hero-text h1 {
    font-size: 7rem;
  }

}

.tagline {
  font-size: 1.25rem;
  letter-spacing: .15rem;
}

@media (min-width: 768px) {

  .tagline {
    text-transform: uppercase;
  }

}

.tagline::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .5rem auto;
}

.date {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}

.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}

          /*--- helyszínek ---*/

/*       Megjegyzések- helyszínek
1.Megint csak pszeudoelemet használtunk az elválasztók létrehozására.Mindig figyelj arra, hogy a struktúrát és a megjelenést válaszd el egymástól.*/

.blurb img {
  height: 7.5rem;
}

.blurb h3 {
  font-weight: 700;
}

.blurb div {
  font-family: 'Muli', sans-serif;
}


.blurb::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 25vw;
  margin: 1.5rem auto;
  background-color: #444349;
}

@media (min-width: 768px) {

  .blurb {
    display: inline-block;
    width: 30%;
    padding: 1.5rem;
    margin: .5rem;
  }

  .blurb::after {
    display: none;
  }

}

           /*--- programok ---*/

/*Megjegyzések- program rész
1. A 100vw érték felülírja a 95%-os szélességet az általános stílusokból.Így ér majd a section "faltól falig".

2. Az átlátszó fekete háttér az alatta lévõ háttérképpel együtt egy kellemes, szürke papír effektust hoz létre, ami szépen illeszkedik a készülõ designunkba.*/
.program {
  width: 100%;
  text-align: left;
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  font-family: 'Muli', sans-serif;
}

.program h2 {
  font-family: 'Great Vibes', cursive;
  margin-top: 1rem;
  text-align: center;
}

.program p {
  font-style: italic; 
}

.program ul {
  letter-spacing: .025rem;
}

@media (min-width: 768px) {

  .program-wrapper {
    width: 30vw;
    margin: 0 auto;
  }

}

            /*--- ajándékok ---*/

/*      Megjegyzések- nászajándék
1. Miért kell csökkenteni az utolsó paragrafus margóját? Ha még emlékszel, a vertikális ritmus meghatározásakor mind a p, mind a section elemeknek adtunk 1.5rem-nyi alsó margót. Itt ezek egymásra rakódtak, így valamelyiknek mennie kell, hogy a ritmus konzisztens maradjon.
*/

.gifts img {
  height: 7.5rem;
}

.gifts p:last-child {  
  margin-bottom: 0;
}


         /*--- gyakori kérdések ---*/

/*      Megjegyzések- gyakori kérdések
1. Itt felül kell írnod a paragrafusok text-align tulajdonságát, mivel az alapértelmezett érték a center.

2. Ismét pszeudoelem hozza létre az elválasztókat.

3. Itt jönnek jól a .question és .answer classaink. Az elsõ összehúzza az összetartozó kérdés-válasz párokat, míg a második elválasztja õket a többi párostól.*/

.faq {
  background: hsla(100,0%,0%,.6);;
  color: #d2ba87;
  width: 100%;
  text-align: center;
}

.faq h2 {
  margin-top: 1rem;
}

.faq p {
  font-family: 'Muli', sans-serif;
  text-align: left;
}

.question-group::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 50vw;
  margin: 1.5rem auto;
  background-color: #d2ba87;
}

@media (min-width: 768px) {

  .question-group {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 1.5rem;
    margin: .5rem;
  }

  .question-group::after {
    display: none;
  }

  .question-group h3 {
    text-align: left;
  }

}

.question {
  font-weight: 700;
  margin-bottom: .5rem;
}

.answer {
  margin-bottom: 1.5rem;
}

             /*--- footer ---*/

footer {
  height: 10vh;
  width: 100%;
  background-color: #606060;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: table;
  text-align: center;
  font-size: .875rem;
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;
}

footer p {
  margin-bottom: 0;
}

footer small {
  line-height: 1.5;
}

@media (min-width: 768px) {

  footer {
    min-height: 7vh;
  }

}






