body {
  background-color: #333;
}

.container {
  width: 300px;
  height: calc(100vh - 40px);
  margin: 20px auto;
  background-color: #fff;
  position: relative;
}

.box{
  width: 100px;
  height: 100px;
}

#box-01 {
  background-color: hsla(60, 100%, 60%, .85);
}

/*Position: absolute
az elemet a szülõjéhez képest tudjuk mozgatni

A position: absolute; a legközelebbi pozicionált felmenõhöz képest pozicionálja abszolútan az adott elemet.
*/

#box-02 {
  background-color: hsla(84, 84%, 56%, .85);
  position: absolute;
  top: 0;
  right: 0;
}

#box-03 {
  background-color: hsla(332, 69%, 51%, .85);
}

#box-04 {
  background-color: hsla(279, 60%, 44%, .85);
}