/* CSS reset */  


/* A "*" jel az úgynevezett universal selector-t (általános szelektor) jelöli. Az itt leírt szabályok minden elemre érvényesek lesznek az oldalunkon. Ez a reset a következõket csinálja:
minden margin és padding értéket 0-ra állít,
bekapcsolja a border-box box-sizing modellt (az elemek magasságába és szélességébe így a padding és a border is beletartozik, nem csupán a tartalom), és
100%-ot állít be font-size értéknek.
https://cyrex.hu/2017/11/10/css-box-sizing/
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}


/*Segítõ színek*/

/* hsla- elsõ érték az árnyalat, a második a telítettség. Bõvebb infó: https://www.w3schools.com/cssref/func_hsla.asp
https://www.w3schools.com/colors/colors_hsl.asp*/



/* Pozicionálás */

/* a max width érték, azt mondja a böngészõnek, hogy az itt meghatározott értéknél sosem lehet szélesebb az elem.
a calc egy számítás 100vw egy böngészõablak teljes méretének felel meg*/

.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
}

/*A display: flex azt mondja a böngészõnek, hogy a body elem egy flexbox konténer, és ekként kell viselkednie. A justify-content: center rendezi az egyik tengely mentén középre a tartalmat, az align-items: center pedig a másik tengely mentén
A flexboxhoz szükséged van legalább egy szülõ és egy gyermek elemre. A szülõ elem fogja meghatározni a gyermek elem megjelenését.*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*a body elem magasságát a tartalma határozza meg. Mivel a .profile-card az egyetlen elem a body-ban, ezért a .profile-card magassága egyenlõ a body magasságával.

Állítsuk át a body elemet úgy, hogy magasságnak inkább a böngészõablak magasságát használja:*/

body {
  height: 100vh;
}

/*profile-card konténernek háttér*/

.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}


/*szöveg középre rendezése*/

.head, .links{
  text-align: center;
}
/*.head és .content div elemek is középre rendezettek, és nem foglalják el a rendelkezésre álló hely 100%-át
a margin: 0 auto a következõ kifejezés rövidítése (shorthand): margin: 0 auto 0 auto (az értékek az óramutató járásának megfelelõen haladnak körbe fentrõl indulva, tehát az elsõ a felsõ margót állítja, majd jobb, majd alsó, majd bal). Ez a kód annyit mond a böngészõnek, hogy nem tudjuk, pontosan mekkorák legyenek a margók, de legyenek egyenlõek. Ez rendezi középre a tartalmat a vízszintes tengely mentén.*/

.head, .content {
  width: 90%;
  margin: 0 auto;
}

/*Profil fotó*/

/*A következõ kóddal átállítjuk a méretét, és kör alakúra vágjuk az 50%-os border-radius segítségével. Továbbá vékony szürke csíkot és filtert adunk hozzá

https://www.w3schools.com/cssref/css3_pr_filter.asp*/

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
}
/*Transzformáció
https://www.w3schools.com/css/css3_2dtransforms.asp*/
img:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}

/* feljebb mozgatjuk a tartalmazó konténert a méretének kicsit több mint a felével*/

.profile-image {
  margin-top: -60px;
}



/* Contact links */

/* list-style: none - nincs formázás
li display: inline - egymás mellé rendezés*/

ul {
  list-style-type: none;
}

li {
  display: inline;
}

/* térköz állítás, hogy szellõsebb legyen az elrendezés
margin a térköz- 2 konténer távolsága
padding: kontenéren belül a szöveg helyzete
*/
.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 5% 10%;
}


/*háttérkép hozzáadás, azért nem a html-ben,mert a képnek nincs funkciója,csak látvány elem

az elsõ sor a következõ rövidítése:
background-image: url('http://i.imgur.com/9kh3G8L.jpg');
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;

Mindez megmondja a böngészõnek, hogy

hol találja a háttérképet,
egyszer jelenítse meg, ne ismételje,
rendezze középre horizontálisan és vertikálisan és
a kép ne gördüljön együtt az oldallal.

A background-size: cover sor azt mondja a böngészõnek, hogy mindig méretezze át úgy a háttérképet, hogy az lefedje a teljes aktuális hátteret.
*/


body {
  background: url('http://i.imgur.com/9kh3G8L.jpg') no-repeat center center fixed;
  background-size: cover;
}



/*vékony vonal a .head és a .contanc szekció között*/
.content {
  border-top: 1.5px solid hsla(0, 0%, 30%, .8);
}

/*egyéb formázások*/
.about {
  font-family: "Times New Roman";
  font-size: 15px;
  color: rgba(0, 17, 42, 0.9);
  text-align: justify;
  
}
.links {
  color: rgba(0, 17, 42, 0.6); 
}

i {
  color:  rgba(0, 17, 42, 0.6);
}

h1 {
   margin-bottom: 3%;
  font-size: 20px;
   
}
h2 {
  color:rgba(0, 17, 42, 0.6);
  font-family: "Lucida Console";
  font-size: 15px;
}
